
h1{
  text-align: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin: auto; 
    max-width: 352px ;

}

.row {
    height: 22px; 
    width: 22px;
    background-color: rgb(244, 62, 247);
    border:  1px solid rgb(251, 169, 251);
}

