body{
    background-color: rgb(238, 235, 239);
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
  text-align: center;
  font-weight: 600;
}

#container{
    width: 500px;
    min-height: 500px; 
    margin: 0 auto; 
    background: #eee;
    display: grid;
  
    
}

.square {
    min-height: 22px; 
    min-width: 22px;
    background-color: #eee;
    border:  1px solid #d7d5d5;
}

#changes{
    display:flex; 
    justify-content: space-evenly;
    align-content: center;
    width: 500px;
    margin-top: 33px;

}



#amount{
    text-align: center;
}

button{
    background-color: #949494;
    color: #eee
}

#gitLink{
    margin-top: 66px;
    display: flex; 
    gap: 10px; 
    align-content: center;
    align-items: center;
}